 body {
font-family: Arial, Helvetica, sans-serif;
}
form {
border: 3px solid #f1f1f1;
}

input[type=text]{
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color:#e7e7e7;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.imgcontainer {
  text-align: center;
  margin: 20px 0 10px 0;
}

img.employee_id {
  width: 25%;
  border-radius: 25%;
}

.container {
  padding: 16px;
}

