body{
    margin-top:0;
    margin-left:0;
    margin-right:0;
}
.side_nav
{
  height: 100%;
  width:20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:Pink;
  overflow-x: hidden;
  padding-top: 20px;
}
.side_nav h3 a
{
 text-align:center;
}
.side_nav a:hover {
  color: white;
  display:block;
}

.side_nav li{
    color:black;
    list-style-type:none;
    padding:0;
}
.side_nav a{
    text-decoration:none;
    color:black;
    font-size:25px;
    display:block;
    text-align:center;
    width:180px;
    padding:10px;
}
.sub_page{
    clear:float;
    background:Pink;
    font-size:30px;
    top:0;
    height:100px;
    padding:5px;
    margin:0;
    position:sticky;
    text-align:center;
    border-radius:8px;
}

.card {
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width:250px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 25px;
    margin:20px;


}


p {
    display: block;
    margin-block-start:0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start:3px;
    margin-block-end:3px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.card .button {
  outline: 0;
  padding:5px;
  color: white;
  background-color:black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top:0;
}



.side_nav_right
{
  height: 100%;
  width:20%;
  top:0;
  position: fixed;
  margin-left:80%;
  left:0;
  text-align:center;
  background-color:cyan;
  padding-top: 20px;
}
.side_nav_right h2
{
 text-align:center;
}
