<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Type of Beverage</title>
    <link rel="stylesheet"  href="../static/styles/beverage_type.css">
</head>
<body background="../static/images/plain-brown.jpg">

<h2 align="center"><i>Select Hot or Cold Beverage!!!</i></h2>
<form action="/list_hot_item" method="post">
    <div class="hot_beverage">
        <input type="hidden" name="employeeid" value="{{item}}">
        <input type="image" src="../static/images/hot_beverage.jpg" width="450" height="300" align="left">
        <h3 align="center">Hot_Beverage</h3>

    </div>
</form>
<form action="/list_cold_item" method="post">
    <div class="cold_beverage">
        <input type="hidden" name="employeeid" value="{{item}}">
        <input type="image" src="../static/images/cold_beverage.jpg" width="450" height="300" align="right">
        <h3 align="center">Cold_Beverage</h3>
    </div>
</form>
</body>
</html>