<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../JavaScript/script_beverage.js"></script>
    <style>
        table, th, td {
  border: 1px solid white;
        }

    </style>
    <form action="/hot_beverage" method="get">
            <button>Madras Cafe Coffee</button>
    </form>
</head>
<body>
<div class="side_nav">
    <table>
        <tr>
            <td valign="top">
                <table>
                    <thead>
                    <tr>
                        <td colspan="2">
                            <h3><i>JUICE WORLD</i></h3>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <img src="../static/images/image_cold_beverage/apple.jpg" alt="apple" width=50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('apple',myfunction())"/>
                        </td>
                        <td>
                            <img src="../static/images/image_cold_beverage/orange.jpg" alt="Orange" width="50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('orange',1)"/>
                        </td>
                        <td>
                            <img src="../static/images/image_cold_beverage/anjeer.jpg" alt="anjeer" width="50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('anjeer',1)"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../static/images/image_cold_beverage/banana.jpg" alt="banana" width=50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('banana',1)"/>
                        </td>
                        <td>
                            <img src="../static/images/image_cold_beverage/carrot.jpg" alt="carrot" width="50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('carrot',1)"/>
                        </td>
                        <td>
                            <img src="../static/images/image_cold_beverage/guava.jpg" alt="guava" width="50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('guava',1)"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../static/images/image_cold_beverage/mosambi.jpg" alt="mosambi" width=50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('mosambi',1)"/>
                        </td>
                        <td>
                            <img src="../static/images/image_cold_beverage/Muskmelon.jpg" alt="muskmelon" width="50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('muskmelon',1)"/>
                        </td>
                        <td>
                            <img src="../static/images/image_cold_beverage/papaya.jpg" alt="papaya" width="50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('papaya',1)"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../static/images/image_cold_beverage/pineapple.jpg" alt="pineapple" width=50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('pineapple',1)"/>
                        </td>
                        <td>
                            <img src="../static/images/image_cold_beverage/Pomegranate.jpg" alt="pomegranate"
                                 width="50%" height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('pomegranate',1)"/>
                        </td>
                        <td>
                            <img src="../static/images/image_cold_beverage/stawberry.jpg" alt="stawberry" width="50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('stawberry',1)"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../static/images/image_cold_beverage/watermelon.jpg" alt="watermelon" width=50%"
                                 height="200px"><br>
                            <input type="button" value="Add" onclick="AddtoCart('watermelon',1)"/>
                        </td>
                    </tr>


                    </tr>
                    </tbody>

                </table>
            </td>
            <td valign="top">
                <table id="ordered_item_title">
                    <thead>
                    <tr>
                        <td>
                            Itemname
                        </td>
                        <td>
                            Quantity
                            <button onclick="myFunction1()">-</button>
                            <input type="number" id="myNumber">

                            <button onclick="myFunction()">+</button>
                        </td>
                    </tr>
                    </thead>
                    <tbody id="ordered_items_list">
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>