<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmployeeID</title>
    <link rel="stylesheet" href="../CSS/employeeid_loginpage.css">
</head>
<body>
<div class="background">
    <form action="beverage_type.html">
        <h2>Login Form</h2>


        <div class="imgcontainer">
            <img src="employeeid_login.jpg" alt="employee_id" class="employee_id">
        </div>

        <div class="container">
            <label for="employeeid"><b>Employee Id:</b></label>
            <input type="text" placeholder="Enter Employee Id" name="employeeid">
            <input type="button" class="button" value="Click" onclick="location.href='beverage_type.html'">


        </div>
    </form>

</div>
</body>
</html>