<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmployeeID</title>
    <link rel="stylesheet" href="../static/styles/employeeid_loginpage.css">
</head>
<body>
<div class="background">
        <h2>Login Form</h2>


        <div class="imgcontainer">
            <img src="../static/images/employeeid_login.jpg" alt="employee_id" class="employee_id">
        </div>
        <form action="/beverage" method="post">

        <div class="container">
            <label for="employeeid"><b>Employee Id:</b></label>
            <input type="text" placeholder="Employee Id" name="employeeid">
            <input type="hidden" placeholder="name=employeeid">
            <input type="submit" class="button" value="Click" onclick="">


        </div>
    </form>

</div>
</body>
</html>