<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page Design</title>
    <link rel="stylesheet" href="../static/styles/welcome_page.css">

</head>
<body>
<div class="background">
    <header>
        <img src="../static/images/header.jpg" alt="headerimage" width="1500" height="150">
    </header>
    <h1 align="center"> Welcome ThoughtWorks Cafeteria!!!</h1>

    <form action="/employeeloginpage" method="get">
        <button class="employee">Employee</button>
    </form>
    <form action="/vendorloginpage" method="get">
        <button class="vendor">Vendor</button>
    </form>
</div>
</body>
</html>


