<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cold items</title>
</head>
<body>

<form action="/list_cold_item" method="post">

    <ul>
        {% for item in items %}
        <li>{{ item }}
            <button onclick="myFunction1({{item}})" name="{{item}}">Add to cart</button>
            <button onclick="myFunction3()">-</button>
            <input type="number" id="myNumber">

            <button onclick="myFunction2()">+</button>

            <p id="demo"></p>

            <script>
    function myFunction1(name) {
    document.getElementById("demo").innerHTML =   name ;
    }
    function myFunction2() {
    document.getElementById("myNumber").stepUp();
    }
    function myFunction3() {
    document.getElementById("myNumber").stepDown();
    }



            </script>

        </li>
        {% endfor %}
    </ul>


</form>


</body>
</html>